@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url("./background-image.jpeg");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  width: 100vw;
}

.title {
  background-color: #45a049;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100vw;
}

h1 {
  font-weight: normal;
  font-size: 4rem;
  text-align: center;
  margin-top: -10px;
}

.input-container {
  background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  width: 100vw;
}

.input-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-container input[type="text"],
.input-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #45a049;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-text {
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
  margin: 0 10px;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    margin-top: 0;
  }

  .big-text {
    font-size: 40px;
  }

  .countdown-container {
    flex-direction: column;
  }

  .countdown-el {
    margin-bottom: 10px;
  }

  .input-container {
    width: 80%;
    margin: 0 auto;
  }

  .input-container label {
    font-size: 16px;
  }

  .input-container input[type="text"] {
    font-size: 16px;
  }

  .input-container button {
    padding: 10px 20px;
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
  }
}

